yang
schema-server
bin*
client/client
lab/*/clab-*
lab/*/*.bak
lab/*/license.*
client/bin*
tests/bulk/bulk
notes.txt
Notes.md
keys
clabs/
tests/results
cached/
log.html
output.xml
report.html
intra/
nbn/